*{
    margin-top: 0;
    padding: 0;
}
.container .row .contenedor-form{
    width: 70%;
    margin: 50px auto ;
    box-shadow: 1px 5px 10px #cccccc;
    
    
}
.container .row .contenedor-form form{


}
.container .row .contenedor-form input[type="text"],
.container .row .contenedor-form input[type="date"],
.container .row .contenedor-form input[type="number"]
{
    width: 80%;
    margin: 10px 10%;    
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 5px 10px 5px 2px;
    padding: 3px 20px;
}
.container .row .contenedor-form input[type="submit"]{
    width: 20%;
    margin: 5px 40%;
    margin-bottom: 20px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    color: #000000;
    border: 1px solid #000000;
    background-color: #ffffff;
}
.container .row .contenedor-form input[type="submit"]:hover{
    color: #000000;
    background-color: #ffffff;
}
.cabecera{
    width: 100%;
    overflow: hidden;
}
.cabecera .texto{
    float: left;
    width: 86%;
    margin:0px auto;
    margin-left: 20px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
    
}
.cabecera .texto h3{
    text-transform: uppercase;
    font-size: 40px;
    color: #536340;
}

.cabecera .imagen{
    float: right;
    width: 7%;
    margin-right: 60px;
}
.pie{
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin-bottom: 10px;
    background-color: #000000;
}
.pie .row p{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 0px;
    margin-top: 2px;
}
.contenido-table .table .delete{
    color: red;
}